.profile-container {
    margin: 54px 99px 514px 90px;
    height: 270px;
    background-color: #e6f7ff;
    border-radius: 16px;
    padding-left: 94px;
}

.profile-title {
    padding-top: 66px;    
    font-size: 38px;
    margin-bottom: 12px;
}

.profile-text {
    height: 40px;
    width: 676px;    
    font-size: 16px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 17px 8px 17px;
    margin-bottom: 24px;
}
