.home-content {
    padding-top: 117px;
    padding-left: 120px;
    padding-bottom: 275px;       
}

.text-title {
    font-size: 48px;
    line-height: 64px; //--espaçamento entre linhas
    letter-spacing: -0.02em; //-- espaçamento entre letras
    margin-bottom: 0;
}

.text-subtitle {    
    font-size: 20px;
    line-height: 36px;    
}