.main-nav{
    height: 62px;   //--altura da barra
    background-color: #1890FF;
    color: #fff;  //-- cor da fonte do texto        
    display: flex;
    align-items: center;       
    font-size: 24px;   
    padding-left: 40px; //--espaçamento a esquerda do texto    
    margin-left: 0;
    margin-right: 0;            
} 
    
.nav-logo-text{
    color: #fff;        
}
     
 