@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet');

body {  
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {   
  font-weight: 500;  
  margin: 0;
}

html, body {   //-- Remove o espaçamento padrão da página HTML
  margin: 0;
  padding: 0;  
  background-color:#FFFFFF;
}

a {
  text-decoration: none;  // Remove o sublinhado dos textos links
}
